<web-app>

	<!-- 共通 -->
	<!-- LogoutServlet -->
	<servlet>
		<servlet-name>logoutMapping</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutMapping</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<!-- ここからuser -->
	<!-- UserLoginServlet -->
	<servlet>
		<servlet-name>userloginMapping</servlet-name>
		<servlet-class>servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userloginMapping</servlet-name>
		<url-pattern>/userlogin</url-pattern>
	</servlet-mapping>

	<!-- UserRegisterServlet -->
	<servlet>
		<servlet-name>registerMapping</servlet-name>
		<servlet-class>servlet.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerMapping</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<!-- UserUpdateServlet -->
	<servlet>
		<servlet-name>userupdateMapping</servlet-name>
		<servlet-class>servlet.UserUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userupdateMapping</servlet-name>
		<url-pattern>/userupdate</url-pattern>
	</servlet-mapping>

	<!-- OrderServlet -->
	<servlet>
		<servlet-name>orderMapping</servlet-name>
		<servlet-class>servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderMapping</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>

	<!-- ここからadmin -->
	<!-- AdminLoginServlet -->
	<servlet>
		<servlet-name>adminloginMapping</servlet-name>
		<servlet-class>servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminloginMapping</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>

	<!-- ProductListServlet -->
	<servlet>
		<servlet-name>productlistMapping</servlet-name>
		<servlet-class>servlet.ProductListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productlistMapping</servlet-name>
		<url-pattern>/productlist</url-pattern>
	</servlet-mapping>

	<!-- StockUpdateServlet -->
	<servlet>
		<servlet-name>stockupdateMapping</servlet-name>
		<servlet-class>servlet.StockUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockupdateMapping</servlet-name>
		<url-pattern>/stockupdate</url-pattern>
	</servlet-mapping>

	<!-- OrderListServlet -->
	<servlet>
		<servlet-name>orderlistMapping</servlet-name>
		<servlet-class>servlet.OrderListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderlistMapping</servlet-name>
		<url-pattern>/orderlist</url-pattern>
	</servlet-mapping>

	<!-- DetailServlet -->
	<servlet>
		<servlet-name>detailMapping</servlet-name>
		<servlet-class>servlet.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailMapping</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>

	<!-- StatusUpdateServlet -->
	<servlet>
		<servlet-name> statuspdateMapping</servlet-name>
		<servlet-class>servlet.StatusUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>statuspdateMapping</servlet-name>
		<url-pattern>/statusupdate</url-pattern>
	</servlet-mapping>

</web-app>
